.login{
    background-image: linear-gradient(to right, #00052D ,#000638, #010847);
    height: 100vh;
    display: grid;
    padding:3rem 5rem;
}

.login-grid{
    display: grid;
    grid-template-columns:540px 1fr;
}
.side-ber{
    position: relative;
    text-align: center;
}
.side-ber h1{
    color: #0096C7;
    text-align: center;
    letter-spacing: 7px;
    font-size: 44px;
}
.side-ber p{
    font-size: 20px;
    line-height: 18.5px;
    color: #ffffff;
}
.side-ber button{
    position: absolute;
    bottom:100px;
    right: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.login-grid .login-form{
    background-color: #C0CDD3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-grid .login-form form{
    width:478px;
    height: 407px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.login-grid .login-form form h2{
    text-align: center;
    font-size: 32px;
    color:  #212121;
}
.login-grid .login-form form p{
    color: #0096C7;
}
.login-grid .login-form form input{
    width:90%;
    height: 90%;
    background: #FFFFFF;
    padding-left: 40px;
    font-size: 30px;
    border-radius: 15px;
 
}
.login-grid .login-form .password {
    width:100%;
    height: 90%;
    font-size: 30px;
    border-radius: 15px;
    position: relative;
}
.login-grid .login-form .password span{
    position: absolute;
    top:12px;
    right:20px;
    cursor: pointer;
    background: transparent;
    border: none;
}
.login-grid .login-form form .button{
   background-color: #0096C7;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
   font-weight: 700;
   padding: 0;
   width: 100%;
}
