.home{
    /* background-image: linear-gradien(); */
    height: 100vh;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    padding:3rem 0rem;
     background-color: #e2e2e2;
}


.cards {
    width: 1320px; /* (400px width + 5px gap) * 5 cards = 2100px */
    margin: 0 auto;
    display: flex;
    gap:2px;
    padding: 20px 20px;
   overflow-x: scroll;
   scrollbar-color: pink rgb(27, 163, 209);
   /* margin-top: 50px; */
}


.card{
    background-color:#F2F4F7;
    min-width: 20rem;
    height: 500px;
    margin-right: 1px;
    overflow-y: scroll;
    /* position: absolute; */
}
.incom{
    background-color: red;
    width: 20px !important;
    height: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.incom1{
    background-color: yellow;
    width: 20px !important;
    height: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.incom2{
    background-color: blue;
    width: 20px !important;
    height: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.incom3{
    background-color: green;
    width: 20px !important;
    height: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}